p{
    font-size: 15px;
}

li{
    font-size: 14px;
}

h1 {
    background: #369 none repeat scroll 0 0;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #ffffff;
    font-size: 230%;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: -1em -1em .2em;
    padding: 0.75em 1em;
}

.title {
    color: white;
}

h2 {
    font-size: 200%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: 1px solid #ccc;
    padding: .2em;
}

h3 {
    font-size: 170%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: 1px solid #eee;
    padding: .2em;
}

h4 {
    font-size: 140%;
    font-family: "Cardo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-bottom: 1px solid #eee;
    padding: .2em;
}


