.DS_Store
auto-save-list
recentf
elpa
bookmarks
abbrev_defs
\#*
*~
.python-environments
myconfig.el
scratch.el
eshell
emms
projectile-bookmarks.eld
.org-id-locations
irony
url
diary
.caches
.cache
smex-data
smex-items
.mc-lists.el
pyim
request
newsticker
hackernews
.org-id-locations
org-clock-save.el
places
ido.last
semanticdb
ede-projects.el
projectile.cache
transient
config-file
.local
quelpa
network-security.data
*old-org.el
nov-places
prescient-save.el