.DS_Store
auto-save-list
recentf
elpa
bookmarks
abbrev_defs
\#*
*~
.python-environments
myconfig.el
scratch.el
eshell
emms
projectile-bookmarks.eld
.org-id-locations
irony
url
diary
.caches
smex-data
smex-items
