[submodule "company-english-helper"]
	path = site-lisp/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper.git
[submodule "awesome-pair"]
	path = site-lisp/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "site-lisp/all-the-icons"]
	path = site-lisp/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
[submodule "site-lisp/guess-word"]
	path = site-lisp/guess-word
	url = https://github.com/Qquanwei/emacs-guess-word-game.git
[submodule "site-lisp/leetcode"]
	path = site-lisp/leetcode
	url = https://github.com/kaiwk/leetcode.el.git
[submodule "site-lisp/awesome-tab"]
	path = site-lisp/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab
