*.DS_Store
site-lisp
auto-save-list
recentf
elpa
abbrev_defs
\#*
*~
.python-environments
myconfig.el
eshell
irony
diary
.caches
.cache
smex-data
smex-items
.mc-lists.el
pyim
request
url
newsticker
hackernews
.org-id-locations
places
ido.last
semanticdb
ede-projects.el
projectile.cache
transient
.local
quelpa
network-security.data
*old-org.el
nov-places
org-journal.cache
semanticdb
elpy
tutorial
nox
geekblog
emms
thumbs
config-file
bm-repository
cframe
bookmarks
launch_emacs.sh
org-clock-save.el
projectile-bookmarks.eld
var
gk-habit
games
netease-cloud-music
epkgs
gk-todo
gk-roam
gkroam
pomodoro
bujo
gtd
meghanada
roam-block
test
notebook
ncm-playlist