[submodule "company-english-helper"]
	path = site-lisp/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper.git
[submodule "aweshell"]
	path = site-lisp/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "awesome-pair"]
	path = site-lisp/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "awesome-tab"]
	path = site-lisp/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
[submodule "site-lisp/all-the-icons"]
	path = site-lisp/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el.git
